#content h1 { border-bottom: 1px solid #ababab; background: #7e7e7e; font-size: 125%; margin: -20px -20px 20px; padding: 15px 20px; text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); }

.FormAction { padding-top: 5px; }
.Invisible { display: none; }

#audit_filter_form { background: #7E7E7E; display: none; }
.Active #audit_filter_form { display: block; }

#audit-results { margin: 0 0 5em !important; }
#audit-results TH A { color: #fff; }

#filtering-options { position: absolute; bottom: 0; right: 6px; margin-bottom: 51px; }
#filtering-options.Active { margin-bottom: 46px; }
#more-or-less-metadata { color: #fff; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; background: #7E7E7E url(/images/admin/metadata_toggle.png) 92% -19px no-repeat; padding: 4px 25px 5px 10px; text-shadow: #666 1px 1px 0; cursor: pointer; }
.Active #more-or-less-metadata { background-position: 91% 10px; }

#actions #remove-filters { background: none; color: #FFF; text-decoration: underline; padding: 0px; text-shadow: none; }

#filtering-table { margin: 5px 15px; width: 100%; border: none; border-collapse: collapse; border-spacing: 0; }
#filtering-table td { padding: 2px 5px !important; line-height: normal; }
#filtering-options .FormAction { padding: 0 15px 1em; }